{% extends 'base.html' %}

{% block title %} Country Profile {% endblock %}

{% block css %} 

div {
    display: inline-block;
    margin-left: 50px;
}

{% endblock %}

{% block content %}


    {% for country in recent_metrics %}

    <div>
    
    <h1> {{ country }} </h1>

        {% for m in recent_metrics[country] %}

            {% if recent_metrics[country][m][1] %}

                <li> {{ m }} : {{ recent_metrics[country][m][1] }} ({{ recent_metrics[country][m][0] }}) </li>

            {% else %}
                <li> {{ m }} : No Data Available </li>

            {% endif %}

        {% endfor %}

    </div>

    {% endfor %}



<br>
<h3> Polity Time Series </h3>
<canvas id="lineChart" width="425" height="125"></canvas>
<div id="line"></div>

<script>
var options = {
      scales : {
        xAxes : [ {
            gridLines : {
                display : false
            }
        } ],
        yAxes : [ {
            gridLines : {
                display : false
            }
        }]
    }
    };
var ctx = $("#lineChart").get(0).getContext("2d");

$.get("/polity-scores.json", function (data) {
    var polityLineChart = new Chart.Line(ctx, {data: data, options: options});
    $('#line').html(polityLineChart.generateLegend());

});

</script>


{% endblock %}

