{% extends 'base.html' %}

{% block title %} Country Profile {% endblock %}

{% block css %} 

#content {
    display: inline-block;
    margin-left: 50px;
}

#divline {
    margin-right: 100px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

{% endblock %}

{% block head %}
<script src='http://d3js.org/d3.v3.min.js'></script> 
{% endblock %}




{% block content %}


    {% for country in recent_metrics %}

    <div id="content">
    
    <h1> {{ country }} </h1>

        {% for m in recent_metrics[country] %}

            {% if recent_metrics[country][m][1] %}

                <li> {{ m }} : {{ recent_metrics[country][m][1] }} ({{ recent_metrics[country][m][0] }}) </li>

            {% else %}
                <li> {{ m }} : No Data Available </li>

            {% endif %}

        {% endfor %}

    </div>

    {% endfor %}



<br>
<h3> Polity Time Series </h3>

<div id="divline">
<canvas id="lineChart" width="425" height="125"></canvas>
</div>

<script>
Chart.defaults.global.responsive = true;
var options = {
      scales : {
        xAxes : [ {
            gridLines : {
                display : false
            }
        } ],
        yAxes : [ {
            gridLines : {
                display : true
            }
        }]
    }
    };

var ctx = $("#lineChart").get(0).getContext("2d");

$.get("/polity-scores.json", function (data) {
    var polityLineChart = new Chart.Line(ctx, {data: data, options: options});
});

</script>

<br>

<script>
  d3.json('/gdp.json', function makeScatter(gdp_data) {

    d3.select('body').append('p').text(gdp_data.nameone + " : GDP per capita by year");

    if (gdp_data.one.length <= 1) {
        d3.select('body').append('p').text('No data available for this country');
        d3.select('body').append('br')
    } else {

    var w = 900;
    var h = 400;
    var padding = 50;
    var dataset = gdp_data.one;
    var svg = d3.select("body").append("svg")
                .attr("width", w)
                .attr("height", h);
    //scales for x axis, y axis and circle size. .range scales the domain data to a specified scale
    var xScale = d3.scale.linear()
                         .domain([d3.min(dataset, function(d) { return d[0]; }), d3.max(dataset, function(d) { return d[0]; })])
                         .range([padding, w - padding * 2]);
    var yScale = d3.scale.linear()
                         .domain([d3.min(dataset, function(d) { return d[1]; }), d3.max(dataset, function(d) { return d[1]; })])
                         .range([h - padding, padding]);
    var rScale = d3.scale.linear()
                         .domain([2, 5]);

    var color = d3.scale.ordinal()
                        .domain([-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 999])
                        .range(["rgba(165, 0, 33, 1.0)", "rgba(165, 0, 33, 1.0)", "rgba(216, 38, 50, 1.0)", "rgba(216, 38, 50, 1.0)", "rgba(247, 109, 94, 1.0)", "rgba(247, 109, 94, 1.0)", "rgba(243, 171, 159, 1.0)", "rgba(243, 171, 159, 1.0)", "rgba(244, 214, 209, 1.0)", "rgba(244, 214, 209, 1.0)", "rgba(219, 190, 248, 1.0)", "rgba(192, 235, 251, 1.0)", "rgba(192, 235, 251, 1.0)", "rgba(114, 217, 255, 1.0)", "rgba(114, 217, 255, 1.0)", "rgba(63, 160, 255, 1.0)", "rgba(63, 160, 255, 1.0)", "rgba(38, 77, 245, 1.0)", "rgba(38, 77, 245, 1.0)", "rgba(41, 10, 216, 1.0)", "rgba(41, 10, 216, 1.0)", "rgba(235, 236, 161, 1.0)"]);

    //x and y axis
    //xAxis - format() to get rid of the commas in years
    var xAxis = d3.svg.axis()
                      .scale(xScale)
                      .orient("bottom").ticks(15)
                      .tickFormat(d3.format("d"));
    var yAxis = d3.svg.axis()
                      .scale(yScale)
                      .orient("left").ticks(15);

    //creating the circles
    svg.selectAll("circle")
        .data(dataset)
        .enter()
        .append("circle")
        .attr("cx", function(d) { return xScale(d[0]); })
        .attr("cy", function(d) { return yScale(d[1]); })
        .attr("r", function(d) { return 4; })
        .style('fill', function(d) { return color(d[2]); } );

    //creating the axes
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);
    //end else stmt
    }
  })

</script>


<script>

  d3.json('/gdp.json', function makeScatter(gdp_data) {

    d3.select('body').append('p').text(gdp_data.nametwo + " : GDP per capita by year");

    if (gdp_data.two.length <= 1) {
        d3.select('body').append('p').text('No data available for this country');
        d3.select('body').append('br')
    } else {

    var w = 900;
    var h = 400;
    var padding = 50;
    var dataset = gdp_data.two;
    var svg = d3.select("body").append("svg")
                .attr("width", w)
                .attr("height", h);
    //scales for x axis, y axis and circle size. .range scales the domain data to a specified scale
    var xScale = d3.scale.linear()
                         .domain([d3.min(dataset, function(d) { return d[0]; }), d3.max(dataset, function(d) { return d[0]; })])
                         .range([padding, w - padding * 2]);
    var yScale = d3.scale.linear()
                         .domain([d3.min(dataset, function(d) { return d[1]; }), d3.max(dataset, function(d) { return d[1]; })])
                         .range([h - padding, padding]);
    var rScale = d3.scale.linear()
                         .domain([2, 5]);
   
    var color = d3.scale.ordinal()
                         .domain([-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 999])
                         .range(["rgba(165, 0, 33, 1.0)", "rgba(165, 0, 33, 1.0)", "rgba(216, 38, 50, 1.0)", "rgba(216, 38, 50, 1.0)", "rgba(247, 109, 94, 1.0)", "rgba(247, 109, 94, 1.0)", "rgba(243, 171, 159, 1.0)", "rgba(243, 171, 159, 1.0)", "rgba(244, 214, 209, 1.0)", "rgba(244, 214, 209, 1.0)", "rgba(219, 190, 248, 1.0)", "rgba(192, 235, 251, 1.0)", "rgba(192, 235, 251, 1.0)", "rgba(114, 217, 255, 1.0)", "rgba(114, 217, 255, 1.0)", "rgba(63, 160, 255, 1.0)", "rgba(63, 160, 255, 1.0)", "rgba(38, 77, 245, 1.0)", "rgba(38, 77, 245, 1.0)", "rgba(41, 10, 216, 1.0)", "rgba(41, 10, 216, 1.0)", "rgba(235, 236, 161, 1.0)"]);

    //x and y axis
    //xAxis - format() to get rid of the commas in years
    var xAxis = d3.svg.axis()
                      .scale(xScale)
                      .orient("bottom").ticks(15)
                      .tickFormat(d3.format("d"));
    var yAxis = d3.svg.axis()
                      .scale(yScale)
                      .orient("left").ticks(15);

    //creating the circles
    svg.selectAll("circle")
        .data(dataset)
        .enter()
        .append("circle")
        .attr("cx", function(d) { return xScale(d[0]); })
        .attr("cy", function(d) { return yScale(d[1]); })
        .attr("r", function(d) { return 4; })
        .style('fill', function(d) { return color(d[2]); } );

    //creating the axes
    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);
    }
  })

</script>




{% endblock %}

